body{
    background: linear-gradient(to bottom, rgba(21, 24, 44, 0.952), rgba(42, 13, 80, 0.952));
    color: white;
}

main{
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    opacity: 1;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    align-items: center;
}

#animations{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
    margin: 0;
}

h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 200;
    font-size: 1.3em;
}

#connect-btn{
    background: white;
    padding: .5em 1em;
    margin: 1em .5em;
    border-radius: 5px;
    font-size: .8em;
    display: block;
    z-index: 1;
    position: absolute;
}

.bttn {
    background: white;
    padding: .5em 1em;
    margin: 1em .5em;
    border-radius: 5px;
    font-size: .8em;
}

.fade{
    animation: fadeOut .7s forwards;
}

@keyframes fadeOut {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.sensors-sections {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.sensors-sections-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fading {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: green;
}

.signal {
    display: inline-block;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background: green;
    visibility: hidden;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    margin: 10px;
    height: 62px;
    width: 219px;
    outline: none;
    border: none;
}

.btn button {
    background: linear-gradient(to bottom, rgba(21, 24, 44, 0.952), rgba(42, 13, 80, 0.952));
    border: none;
    outline: none;
}

.btn button i {
    color: white;
}

.add {
    background: green;
    border:none;
    color: white;
    outline: none;
}

.add span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#shapes-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#shapes-container button {
    color: black;
}

button i {
    margin-right: 10px;
}